html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 8rem 1fr;
    margin: 0;
    min-height: 100vh;
}

header {
    grid-column: 2;
    box-shadow: 0px 3px 3px -2px lightgray;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.sidebar {
    grid-row: 1 / span 2;
    background-color: rgb(4, 155, 197);
    color: white;
    padding: 1rem 1.5rem 1rem 1rem;
}

h1,
h2 {
    display: inline;
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 0;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr repeat(11, 1fr);
    place-items: center left;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
}

li {
    list-style: none;
    display: grid;
    grid-template-columns: 2rem 1fr;
    place-items: center;
    gap: 1rem;
}

li:hover {
    color: lightgray;
    cursor: pointer;
}

img {
    height: 1.6rem;
}

.sidebar-break {
    margin-top: 2rem;
}

#home-li {
    grid-row-start: 3;
}

#profile-li {
    grid-row-start: 4;
}

#messages-li {
    grid-row-start: 5;
}

#history-li {
    grid-row-start: 6;
}

#tasks-li {
    grid-row-start: 7;
}

#communities-li {
    grid-row-start: 8;
}

#settings-li {
    grid-row-start: 10;
}

#support-li {
    grid-row-start: 11;
}

#privacy-li {
    grid-row-start: 12;
}

.searchbar-container {
    display: grid;
    grid-template-columns: 4rem 1fr;
    place-items: center;
}

button#search-button {
    background-color: white;
    height: 2rem;
    width: 2rem;
    padding: 0;
    border: 0;
    margin-top: 0.15rem;
}

button#search-button:hover {
    background-color: lightgray;
    cursor: pointer;
}

#searchbox {
    background-color: rgb(217, 235, 237);
    border-style: none;
    border-radius: 0.75rem;
    height: 1.5rem;
    width: 90%;
    min-width: 5rem;
    justify-self: start;
}

form {
    display: inline;
}

input {
    display: inline;
}